<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKoXi3-1lkqiUGj1GfUe7oKlr5bN1W_Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>204040041008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JJ.NS2</string>
	<key>PROJECT_ID</key>
	<string>fns2-ff93a</string>
	<key>STORAGE_BUCKET</key>
	<string>fns2-ff93a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204040041008:ios:8e3e6d3c07d6f2eb3333f5</string>
</dict>
</plist>